body {
  font-family: "Open Sans", sans-serif;
  color: var(--color-black);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-grey);
}
